/* Reset default styles */
/* #evb{
    margin-top: 10%;
} */
/* body, h1, p {
    margin: 0;
    padding: 0;
} */

/* Main styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
}

h1 {
    color: #333;
    margin-top: 2rem;
}

p {
    color: #666;
    margin-bottom: 2rem;
}

.event-image {
    max-width: 100%;
    height: auto;
}

.event-details {
    margin-top: 50%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 20px;
    border: 2px solid orangered; /* Specify border properties in one line */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    max-width: 1300px;
}

.event-loc {
    font-weight: bold;
    margin-top: 1rem;
}

.page-header {

    padding-top: 12rem;
    padding-bottom: 6rem;
    background: linear-gradient(rgba(0, 29, 35, .8), rgba(0, 29, 35, .8)), url(../old/ev.jpg) center center no-repeat;
    background-size: cover;
  }
  
  .page-header .breadcrumb-item+.breadcrumb-item::before {
    color: #999999;
  }
